{% extends '@Docker/layout.html.twig' %}

{% block body %}
    <div class="container-fluid" style="padding-top: 15px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Docker Stats</div>
                    <div class="panel-body">
                        <div id="docker-stats">
                            {{ drawTableStats(stats) }}
                        </div>
                        Reload stats: <a href="#" class="toggle-reload"><i class="fa fa-toggle-off"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
      let toggleReload = false;
    </script>
    {{ parent() }}
{% endblock %}
